header {
    background-color: #01010199;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
    text-decoration: none;
    color: #FFFFFF;
}

nav ul li a {
    color: #FFFFFF;
}

.logo {
    width: 100px;
}