<footer>
    <div class="container">
        <div class="copyright">
            <p>&copy;Copyright 2024, All Rights Reserved by First Love Church</p>
        </div>
        <div class="social-media">
            <a href="https://www.facebook.com/FirstLoveChurch" target="_blank">
                <img src="{{ url_for('static', filename='images/facebook.png')}}" alt="facebook">
            </a>
            <a href="https://twitter.com/FirstLoveChurch" target="_blank">
                <img src="{{ url_for('static', filename='images/twitter.png')}}" alt="twitter">
            </a>
            <a href="https://www.instagram.com/firstlovechurchaccra/" target="_blank">
                <img src="{{ url_for('static', filename='images/instagram.png')}}" alt="instagram">
            </a>
        </div>
    </div>
</footer>